@import "tailwindcss";

/*  Color System */
:root {
  --main-black: #1C1D20;
  --gray-light: #999d9e;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar globally */
/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html,
body {
  scrollbar-width: none;
}

/* IE, Edge */
html,
body {
  -ms-overflow-style: none;
}

/* Keep the original element class for specific elements if needed */
.element::-webkit-scrollbar {
  display: none;
}

.element {
  scrollbar-width: none;
  -ms-overflow-style: none;
}